<h1>Welcome to the Penalty System</h1>
<p>Project description goes here...</p>

<nav>
  <ul>
    <li><a routerLink="/penalty-list">Penalty List</a></li>
    <li><a routerLink="/penalty-sheet">Penalty Sheet</a></li>
    <li><a routerLink="/user-profile">User Profile</a></li>
    <li><a routerLink="/penalty-history">Penalty History</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>


<!-- <h2>Police Login</h2>
<form (ngSubmit)="loginPolice()" [formGroup]="policeLoginForm">
  <div>
    <label>Username:</label>
    <input type="text" formControlName="policeUsername" required />
  </div>
  <div>
    <label>Password:</label>
    <input type="password" formControlName="policePassword" required />
  </div>
  <button type="submit">Login</button>
</form>

<h2>Civilian Login</h2>
<form (ngSubmit)="loginCivilian()" [formGroup]="civilianLoginForm">
  <div>
    <label>Username:</label>
    <input type="text" formControlName="civilianUsername" required />
  </div>
  <div>
    <label>Password:</label>
    <input type="password" formControlName="civilianPassword" required />
  </div>
  <button type="submit">Login</button>
</form> -->
